{% extends "layout.html" %}
{% block style %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td label {
    display:block;
    width:100%;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
 {% if taken_quiz %}
  <h3 class="mt-5">You have already taken the quiz.</h3> <br>
 {% else %}
  <h3 class="mt-5">Please answer the following questions.</h3> <br>
    <div class="container-center">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                  <li style="color:red;">{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}
      <form action="/personality" method="post">
                <label for="gender">Gender</label>
                <select id="gender" name="gender">

                  {% if gender and gender == "U" %}
                  <option value="U" selected="selected" >--Select--</option>
                  {% else %}
                  <option value="U">--Select--</option>
                  {% endif %}

                  {% if gender and gender == "M" %}
                  <option value="M" selected="selected" >Male</option>
                  {% else %}
                  <option value="M">Male</option>
                  {% endif %}

                  {% if gender and gender == "F" %}
                  <option value="F" selected="selected" >Female</option>
                  {% else %}
                  <option value="F">Female</option>
                  {% endif %}

                </select>
                <br>

                <label for="age">Age</label>
                {% if age %}
                <input type="text" id="age" name="age" value={{age}} placeholder="0-200"/>
                {% else %}
                <input type="text" id="age" name="age" value="" placeholder="0-200"/>
                {% endif %}
                <br><br>

                {% for k, value in quiz.items() %}
                <table class="table">
                  <tbody>
                    <col width="100%">
                    <tr><td><label for="firstname">{{value}}</label> <br></td></tr>
                  </tbody>
                </table>
                <table class="table">
                <col width="20%">
                <tbody>
                <tr>
                  {% if k in score and score[k] == 1 %}
                    <td><input id="{{k}}_1" type="radio" name={{k}} value=1 checked><label for="{{k}}_1">Disagree</label></td>
                  {% else %}
                    <td><input id="{{k}}_1" type="radio" name={{k}} value=1><label for="{{k}}_1">Disagree</label></td>
                  {% endif %}
                  {% if k in score and score[k] == 2 %}
                    <td><input id="{{k}}_2" type="radio" name={{k}} value=2 checked><label for="{{k}}_2">Slightly Disagree</label></td>
                  {% else %}
                    <td><input id="{{k}}_2" type="radio" name={{k}} value=2><label for="{{k}}_2">Slightly Disagree</label></td>
                  {% endif %}
                  {% if k in score and score[k] == 3 %}
                    <td><input id="{{k}}_3" type="radio" name={{k}} value=3 checked><label for="{{k}}_3">Neutral</label></td>
                  {% else %}
                    <td><input id="{{k}}_3" type="radio" name={{k}} value=3><label for="{{k}}_3">Neutral</label></td>
                  {% endif %}
                  {% if k in score and score[k] == 4 %}
                    <td><input id="{{k}}_4" type="radio" name={{k}} value=4 checked><label for="{{k}}_4">Slightly Agree</label></td>
                  {% else %}
                    <td><input id="{{k}}_4" type="radio" name={{k}} value=4><label for="{{k}}_4">Slightly Agree</label></td>
                  {% endif %}
                  {% if k in score and score[k] == 5 %}
                    <td><input id="{{k}}_5" type="radio" name={{k}} value=5 checked><label for="{{k}}_5">Agree</label></td>
                  {% else %}
                    <td><input id="{{k}}_5" type="radio" name={{k}} value=5><label for="{{k}}_5">Agree</label></td>
                  {% endif %}
                </tr>
                </tbody>
                </table>

                <br><br>
                {% endfor %}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div>
        <br>
    </div>
  {% endif %}
</div>
</div>
{% endblock %}
