{% extends "layout.html" %}

{% block style %}
<style>
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
  <h2 class="mt-5">Add your favourite songs</h2>
  <p>As part of the collection, we would like you to give us atleast 5 songs you like(Preferably English). You can add more than 5 which would be really helpful :)</p>

    <div class="container-center">
        <p>You can use the "Add another entry" button to add more songs. Once you've added enough songs, press "Submit Songs" to add them to the database.
           Please make sure to submit atleast 5 songs, you don't have to add them at once. You can add some now and come back later to add more.</p>

        <div class="controls">
                <form id="songform" action="/songs" method="post">
                    <div class="entry input-group col-xs-3">
                        <input class="form-control title" name="title_0" type="text" placeholder="Song Title" />
                        <input class="form-control artist" name="artist_0" type="text" placeholder="Song Artist"/>
                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-minus"></span> Add another entry
                            </button>
                        </span>
                    </div>
                </form>
                <br> <button class="btn btn-primary">Submit Songs</button>
            <br>
        </div> <br><br>
        {% if submitted %}
        <div class="container-center">
            <p> Here are the songs that you have previously submitted. You can submit more than 5 songs, just add more in the form above!</p><br>
            <table class="table">
                <tbody>
                    <tr>
                        <td><b>Title</b></td>
                        <td><b>Artist</b></td>
                    </tr>
                     {% for s in submitted %}
                     <tr>
                         <td>{{s.title}}</td>
                         <td>{{s.artist}}</td>
                     </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function()
{
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.entry:last'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        var num = parseInt(newEntry.find('.artist:first').attr("name").split('_')[1]) + 1;
        var artname = 'artist_' + num;
        var titname = 'title_' + num;
        newEntry.find('.artist').attr("name", artname);
        newEntry.find('.title').attr("name", titname);

        controlForm.find('.entry:not(:last) .btn-add')
            .removeClass('btn-add').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus">Remove Song</span>');
    }).on('click', '.btn-remove', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
	}).on('click', '.btn-primary', function(e)
    {
        $('form#songform').submit();
    });
});
</script>
{% endblock %}
